@import "tailwindcss";

@theme {
  --font-sans: "Manrope", "Open Sans";
  --font-body: "Manrope", "Open Sans";
  --font-display: "Manrope", "Open Sans";

  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 86rem;
  --breakpoint-2xl: 96rem;

  --animate-grow: grow 200ms ease-in-out;
  @keyframes grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  --animate-appear: appear 200ms ease-in-out;
  @keyframes appear {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@plugin "daisyui" {
  themes: all;
}

@layer base {
  @font-face {
    font-family: "Manrope";
    src: local("Manrope"), url("assets/fonts/Manrope/Manrope-Variable.ttf");
  }
}

@utility center {
  @apply flex items-center justify-center;
}

html {
  overflow-x: hidden;
  font-family:
    Manrope,
    Open Sans;
}

#root {
  @apply flex items-center justify-center h-screen w-screen min-h-[0] transition-all duration-300 overflow-x-hidden;
}

.resp-title {
  @apply text-sm xl:text-base 2xl:text-lg font-bold;
}

.resp-text {
  @apply text-sm md:text-base 2xl:text-xl;
}

.resp-gap {
  @apply gap-2 2xl:gap-4;
}

.resp-btn {
  @apply btn-xs xl:btn-sm 2xl:btn-md;
}

.resp-icon {
  @apply size-4 2xl:size-6;
}

.netflix-rating {
  -webkit-text-stroke: 2px oklch(var(--nc));
}

.transitional {
  @apply transition-all duration-300 ease-out;
}

.route-card {
  @apply size-full flex items-center justify-center p-4 2xl:p-6 text-2xl md:text-3xl font-semibold;
}

/* Bluesky specific */
#bluesky {
  --content-width: 40rem;
}
@utility bluesky-content {
  min-width: var(--content-width);
  width: var(--content-width);
}
@utility bluesky-panel {
  max-width: calc((100vw - var(--content-width)) / 2);
  width: calc((100vw - var(--content-width)) / 2);
}
